<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="services">
                    <ul class="list-inline" id="list-infinite">
                                                        <li class="item">
                                    <img src="images/python.svg" alt="">
                                </li>
                                                            <li class="item">
                                    <img src="images/hadoop.svg" alt="">
                                </li>
                                                            <li class="item">
                                    <img src="images/Angular-1.svg" alt="">
                                </li>
                                                            <li class="item">
                                    <img src="images/django.svg" alt="">
                                </li>
                                                            <li class="item">
                                    <img src="images/bitcoin.svg" alt="">
                                </li>
                                                            <li class="item">
                                    <img src="images/ethereum.svg" alt="">
                                </li>
                                                            <li class="item">
                                    <img src="images/postgresql.svg" alt="">
                                </li>
                                                            <li class="item">
                                    <img src="images/aws.svg" alt="">
                                </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="test">

    
            <div class="row">
                                <div class="col-md-6 block-image" style="background-image: url(images/blockchain.png)">
                    <h3><span>Blockchain</span></h3>
                </div>
                <div class="col-md-6 block-text">
                    <div class="inner-text">
                        <h4>Blockchain projects audit</h4>
<p>All blockchain project requiring auditing to ensure that they work the way that they are supposed to and meet the required industry guidelines and regulations. We provide blockchain project auditing in a manner that is comfortable and friendly, with suggestions for changes or improvements.</p>
<h4>DApps development</h4>
<p>Decentralized autonomous applications are an application of blockchain technology with almost unlimited potential. Following the industry standard, we build DApps that are open source, decentralized, and easy to use.</p>
<h4>Blockchain development</h4>
<p>Our team of developers and devops engineers is passionate about building blockchain solutions. We work closely with you to build the entire solution, that is ready for you to pick up and begin working.</p>
                    </div>
                </div>
            </div>

        
            <div class="row">
                                <div class="col-md-6 block-image" style="background-image: url(images/project.png)">
                    <h3><span>Project/Product  management:</span></h3>
                </div>
                <div class="col-md-6 block-text">
                    <div class="inner-text">
                        <h4>Agile coaching</h4>
<p>Agile processes instil a disciplined and methodical approach to project management, encouraging efficient team collaboration and high-quality output. Learn how to implement Agile methods in your teams through our tailored Agile coaching solution.</p>
<h4>Scrum Framework Adoption</h4>
<p>A subset of Agile, Scrum is a method for managing product and software development in line with rapidly-changing needs and environments to meet business objectives while maintaining absolute control. Work with us to adopt the Scrum framework in your company.</p>
<h4>Recruitment Support</h4>
<p>Having the right team is paramount to the success of any business, but especially important in the technology sector where having a combination of the right skills is vital. Recognizing the challenge that many startups face, we will help you to build the best team for your business.</p>
                    </div>
                </div>
            </div>

        
            <div class="row">
                                <div class="col-md-6 block-image" style="background-image: url(images/ico.png)">
                    <h3><span>ICO</span></h3>
                </div>
                <div class="col-md-6 block-text">
                    <div class="inner-text">
                        <h4>Smart contracts development</h4>
<p>Smart contracts are the actionable aspect of a blockchain solution, automating processes which would otherwise have been unfeasible or even impossible to action manually. Our smart contract development is tailored to your product, with future developments and expansion in mind.</p>
<h4>Whitepaper and ICO related papers</h4>
<p>The white paper is the blueprint of a blockchain project, sharing the team’s vision and development plans with investors and future users. A professional white paper commands a degree of skill, as it incorporates both the business and the technical elements in universal language that flows.</p>
<h4>Websites for ICO</h4>
<p>A website puts an ICO on the map, as it welcomes interested parties from across the globe to learn more about the project. As well as providing a user-friendly information hub, we create a functional website that supports the aims of the ICO and the blockchain project thereafter.</p>
                    </div>
                </div>
            </div>

        

</section>




<section id="team">
    <div class="container-team">
        <div class="row">
            <div class="col-md-12 text-center">
                                    <h3>Meet our Team</h3>
                            </div>
        </div>
        <div class="row team-listing">

            
                    <div class="col-xs-6 col-lg-1-5 team-block first-five">
                        <div class="teat-img">
                                                            <img src="images/Andrew-2-e1539861420385.jpg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Andrew                        </div>
                        <div class="team-position">
                            Product Manager                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/o/profiles/users/_~01b1cf27c74d042742/" target="_blank">
                                            <img src="images/upwork-b.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/krayniy" target="_blank">
                                            <img src="images/linkedin-b.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block first-five">
                        <div class="teat-img">
                                                            <img src="images/PSX_20181017_172224-e1539861096438.jpg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Veronika                        </div>
                        <div class="team-position">
                            DevOps                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/freelancers/~010b5713866b9fe545" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.facebook.com/nika.gnilitska" target="_blank">
                                            <img src="images/facebook-b.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://github.com/gberenice" target="_blank">
                                            <img src="images/github.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block first-five">
                        <div class="teat-img">
                                                            <img src="images/name6.png" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Serhii                         </div>
                        <div class="team-position">
                            UI/UX designer                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/freelancers/~018d8ac8a4ecdff956" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block first-five">
                        <div class="teat-img">
                                                            <img src="images/name1.png" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Vic                         </div>
                        <div class="team-position">
                            Team Lead                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://github.com/sla-shi" target="_blank">
                                            <img src="images/github.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/fl/viacheslavshybaiev" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://twitter.com/VicShybayev" target="_blank">
                                            <img src="images/twitter.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block first-five">
                        <div class="teat-img">
                                                            <img src="images/P8060077-копия-e1538734675937.jpg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Oleg                         </div>
                        <div class="team-position">
                            Blockchain and backend developer                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/oleg-kaveshnikov-00b0a7155/" target="_blank">
                                            <img src="images/linkedin.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.facebook.com/axel.kav" target="_blank">
                                            <img src="images/facebook.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://twitter.com/AxelKav" target="_blank">
                                            <img src="images/twitter.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                                    <div class="row see-all">
                    <div class="col-xs-12">
                        <a href="https://beemster.team/#" id="see-all" class="btn-link btn-margin">See All</a>
                    </div>
                </div>
                
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/Sohranyonnye_fotografii_–_1_fotografiya_-_Google_Chrome_2017-05-08_12.45.10-e1540147992803.png" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Igor                        </div>
                        <div class="team-position">
                            Operations manager                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/igor-bolshakov-61866b114/" target="_blank">
                                            <img src="images/linkedin-b.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.facebook.com/IgorOldmin" target="_blank">
                                            <img src="images/facebook-b.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/name5.png" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Sergio                        </div>
                        <div class="team-position">
                            Agile project manager                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/freelancers/~01f8a8091af728b4d8" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/sergio-andronik/" target="_blank">
                                            <img src="images/linkedin.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/Screen-Shot-2018-10-01-at-18.30.22-e1538407921849.png" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Sandra                        </div>
                        <div class="team-position">
                            Agile coach                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/o/profiles/users/_~01a97ff00adca87c28/" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/oleksandra-burmenska-98867166/" target="_blank">
                                            <img src="images/linkedin.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.facebook.com/oleksandraburmenska" target="_blank">
                                            <img src="images/facebook.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/WhatsApp-Image-2018-10-17-at-1.55.57-PM.jpeg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Jane                        </div>
                        <div class="team-position">
                            Backend developer                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://github.com/evmon" target="_blank">
                                            <img src="images/github.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/evmon/" target="_blank">
                                            <img src="images/linkedin.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://facebook.com/Zheni.Sai" target="_blank">
                                            <img src="images/facebook.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/IMG_20181023_090444-e1540302922979.jpg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Max                        </div>
                        <div class="team-position">
                            Backend developer                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://github.com/avgoeid" target="_blank">
                                            <img src="images/github.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <!-- <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/name8.png" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Arseny                         </div>
                        <div class="team-position">
                            Delivery manager                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://stackoverflow.com/users/352898/arseny" target="_blank">
                                            <img src="images/stack.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/fl/arsenyburekhin" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/arsenyburekhin/" target="_blank">
                                            <img src="images/linkedin.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div> -->

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/name2.png" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Slava                         </div>
                        <div class="team-position">
                            Blockchain and backend developer                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://github.com/scream4ik" target="_blank">
                                            <img src="images/github.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/freelancers/~01b674c91dd582c51f" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/slava-kyrachevsky-34777287/" target="_blank">
                                            <img src="images/linkedin.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/0-8.jpeg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Boris                         </div>
                        <div class="team-position">
                            CTO, solution architect                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://github.com/serebrov" target="_blank">
                                            <img src="images/github.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/freelancers/~0183f8577605aaccaa" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/0-7.jpeg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Florin                        </div>
                        <div class="team-position">
                            Backend developer                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/o/profiles/users/_~018f556d6074a79d0b" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/florin-a-a34459ba/" target="_blank">
                                            <img src="images/linkedin-b.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://github.com/isflorin" target="_blank">
                                            <img src="images/github.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/0-10.jpeg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Michael                        </div>
                        <div class="team-position">
                            Talent Acquisition manager                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/freelancers/~011ee211836b0594b1" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/michael-tsukanov/" target="_blank">
                                            <img src="images/linkedin.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.facebook.com/mihail.tsukanov.9" target="_blank">
                                            <img src="images/facebook.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/T80NRQ45T-UB5G67WD6-g988ed0e3abc-72.jpeg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Alex                        </div>
                        <div class="team-position">
                            Blockchain Developer                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://github.com/influx6" target="_blank">
                                            <img src="images/github.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/alexander-ewetumo/" target="_blank">
                                            <img src="images/linkedin-b.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://twitter.com/influx6" target="_blank">
                                            <img src="images/twitter.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/0-6.jpeg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Tetyana                        </div>
                        <div class="team-position">
                            Front end developer                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/freelancers/~01f4b32a685c4ddf5f" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://ua.linkedin.com/in/tetyana-moshon" target="_blank">
                                            <img src="images/linkedin.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.facebook.com/tetyana.moshon" target="_blank">
                                            <img src="images/facebook.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <!-- <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/20181017_224037-e1539861020513.jpg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Aleksandar                        </div>
                        <div class="team-position">
                            Talent Acquisition manager                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/alex-jovanovic-abb289116" target="_blank">
                                            <img src="images/linkedin-b.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div> -->

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/0.jpg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Kateryna                        </div>
                        <div class="team-position">
                            HR lead                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/o/profiles/users/_~01ba436373a6e6b7d8/" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/malakaterina/" target="_blank">
                                            <img src="images/linkedin-b.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/ddddd-e1539780971505.jpg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Vladimir                        </div>
                        <div class="team-position">
                            Front end developer                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://github.com/v-vova-v" target="_blank">
                                            <img src="images/github.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/freelancers/~01a340a1bc04b60110" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/image-5-e1539861713895.png" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Dima                        </div>
                        <div class="team-position">
                            Front end solution architect                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/freelancers/~013c1ae047df1d8ead" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/dima-krugletskyy-b9748688/" target="_blank">
                                            <img src="images/linkedin.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.facebook.com/dima.krugletsky" target="_blank">
                                            <img src="images/facebook.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/name7.png" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Sofia                         </div>
                        <div class="team-position">
                            QA/QC                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/freelancers/~015c8534249229721b" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.facebook.com/sophia.shibaeva" target="_blank">
                                            <img src="images/facebook.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.linkedin.com/in/sofia-shybaieva-0741529b/" target="_blank">
                                            <img src="images/linkedin.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/0-9.jpeg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Nick                        </div>
                        <div class="team-position">
                            Blockchain solution architect                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://github.com/Norfolks" target="_blank">
                                            <img src="images/github.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/freelancers/~013a9201f4a1ea5d78" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
                    <div class="col-xs-6 col-lg-1-5 team-block more-than-five">
                        <div class="teat-img">
                                                            <img src="images/0-11.jpeg" width="143" height="143" alt="Avatar">
                                                    </div>
                        <div class="team-name">
                            Roman                        </div>
                        <div class="team-position">
                            UI/UX designer                        </div>
                        <ul class="team-social">
                                                                <li style="margin-left: 3px;">
                                        <a href="https://www.upwork.com/fl/romanleschyk" target="_blank">
                                            <img src="images/upwork.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                                    <li style="margin-left: 3px;">
                                        <a href="http://linkedin.com/in/romanleschyk" target="_blank">
                                            <img src="images/linkedin.svg" width="25" height="25" alt="">
                                        </a>
                                    </li>
                                                        </ul>
                    </div>

                    
        </div>
        <div class="row">
            <div class="col-xs-12">
                <a href="https://beemster.team/#" class="btn-link btn-margin" data-toggle="modal" data-target="#hireUs">Hire Us</a>
            </div>
        </div>
    </div>
</section>

<seciton id="map">
        <div class="map">
        <img src="https://beemster.team/" class="img-responsive" alt="">
    </div>
    <div class="map">
        <img src="https://beemster.team/" class="img-responsive" alt="">
    </div>
</seciton>

<!-- Thank you modal-->
        
         <div class="modal" id="ThankYou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lstt">
    <div class="modal-content">

      <div class="modal-body ty">
          <img src="images/success.svg" class="ty-img">
         <h1 class="centered modall">Success</h1>
         <p class="centered modall">Thank you for your message<br/> we will back to you shortly.</p>
      <button class="btn-link green" type="button" data-dismiss="modal">Continue</button>
      </div>

    </div>
  </div>
</div>