<!-- Modal Main Video -->
<div class="modal" id="modalVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="images/close.svg"></span>
                </button>
                                    
                            </div>
            <div class="modal-body">
                                
                <iframe width="100%" height="600" src="https://www.youtube.com/embed/sLUbypau8A0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
        </div>
    </div>
</div>


<!-- Modal Form -->

<div class="modal" id="hireUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
                        <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                                <div role="form">
<div class="screen-reader-response"></div>
<form action="https://formsapi.jabwn.com/key/VOUVnLjnygtjNZfN8jJ3" method="post">
<input type="hidden" name="_after" value="http://localhost:1313/#ThankYou">
<input type="hidden" name="_subject" value="New hiring from Beemster Team!">

<div class="form-flex">
<h3>HIRE US</h3>
<div class="form-address">
<p>Beemster Team OÜ<br>
Valukoja 8 Tallinn 11415<br>
Post box 110</p>
</div>
</div>
<label>Name</label>
<input type="text" name="your-name" value="" size="40" class="form-fields" aria-invalid="false">


<label>E-mail</label>
    <input type="email" name="your-email" value="" size="40" class="form-fields" aria-required="true" aria-invalid="false">

                                    
<label>Message</label>
<textarea name="your-message" cols="40" rows="5" class="form-fields" aria-invalid="false"></textarea>

<input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit btn-right">

    </div>
                                    </form>
        </div>
    </div>
</div>



<!-- Modal Hire Us -->
<div class="modal" id="hireUs" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><img src="images/close.svg"></span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

        