<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title>Beemster Team</title>

  <!-- Bootstrap core CSS -->
   <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
   <link  type="text/css" rel="stylesheet"  href="/dist/css/bootstrap.css"> 
   <link type="text/css" rel="stylesheet" href="/dist/css/style.css">
  
</head>

<body>
<div class="hero-area">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="images/beemster-logo.svg"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" id="main-menu">
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a href="https://beemster.team/#" data-toggle="modal" data-target="#hireUs" class="nav-link">Hire us</a>
          </li>
        </ul>
      </div>
    
    </div>
  </nav>
<section id="video">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                                <h2 class="video-title"></h2>
                <div class="video-desc"><p>Smart contracts, Blockchain development, Web development</p>
</div>
                <a href="https://beemster.team/#" data-toggle="modal" data-target="#hireUs" class="btn-link">Hire Us</a>
            </div>
            <div class="col-md-6">
                 <a href="#" class="video-play" data-toggle="modal" data-target="#modalVideo">
                    <img src="images/play.svg" style="margin: 20px 0 0 30px;">
                </a>
                                    <div class="video">
                        <img src="images/main-video-bg.png" alt="">
                    </div>
                            </div>
        </div>
    </div>
</section>

    </div>