<footer>
    <div class="container">
        <div class="row">
            <div class="footer_logo">

                <a href="https://beemster.team/" title="Beemster" rel="home">
                                            <img src="images/beemster-logo.svg" alt="Beemster logo">
                                    </a>
            </div>
            <div class="footer-menu">

                <nav>
<ul>
<li class="footer-menu"><a title="Team" href="https://beemster.team/#team">Team</a></li>
<li class="footer-menu"><a title="Services" href="https://beemster.team/#test">Services</a></li>
<li class="footer-menu"><a title="Hire us" data-toggle="modal" data-target="#hireUs">Hire us</a></li>
</ul>
                </nav>            
            </div>

            <div class="social-links">
                
                        <a href="https://www.instagram.com/beemster.team/" target="_blank">
                            <img src="images/instagram-b.svg" alt="">
                        </a>

                    
                        <a href="https://www.youtube.com/channel/UCOGkAKVQZYLK1UE8e6yhg6A" target="_blank">
                            <img src="images/youtube.svg" alt="">
                        </a>

                    
                        <a href="https://twitter.com/BeemsterTeam" target="_blank">
                            <img src="images/twitter-b.svg" alt="">
                        </a>

                    
                        <a href="https://www.upwork.com/agencies/~012e985bea6f9eabce" target="_blank">
                            <img src="images/upwork-b.svg" alt="">
                        </a>

                    
                        <a href="https://www.facebook.com/Beemster-Team-1822336414454281/" target="_blank">
                            <img src="images/facebook-b.svg" alt="">
                        </a>

                                </div>

                            <div class="footer-address">
                    <p>Beemster Team OÜ<br>
Valukoja 8 Tallinn 11415<br>
Post box 110</p>
                </div>
            
        </div>
    </div>
</footer>


<!-- Bootstrap core JavaScript -->
  <script src="/dist/js/jquery.slim.min.js"></script>
  <script src="/dist/js/bootstrap.bundle.min.js"></script>
<script>
if (window.location.hash == "#ThankYou") {
     $('#ThankYou').modal('show');
}
$('#ThankYou').hide(removeHashFromUrl());

function removeHashFromUrl()
{
    window.location.hash = '';
}
</script>
</body>

</html>
